<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>NE-SVT</title>

    <!-- Bootstrap core CSS gallery-grid.css -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/eventlist.css" rel="stylesheet">
    <link href="css/gallery-grid.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>

    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/global.js"></script>


    <nav class="navbar navbar-expand-lg navbar-dark site-header">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div style="color:#e9ecef;" class="nesvt-title">NE-SVT </div>
        <a style="padding:0;" class="nav-link" href="home.html"><img src="images/logo2.png" width="35" height="35" alt=""></a>

        <div class="collapse navbar-collapse justify-content-md-center nesvt-nav" id="navbarsExample08">

            <ul class="navbar-nav">

                <li class="nav-item nesvt-nav-item">
                    <a class="nav-link" style="margin-right:40px;" href="home.html">Home</a>
                </li>

                <li class="nav-item nesvt-nav-margin">
                    <a class="nav-link" href="results">Live Timing</a>
                </li>

                <li class="nav-item nesvt-nav-margin">
                    <a class="nav-link" href="autocrossevents.html">Autocross Events</a>
                </li>

                <li class="nav-item dropdown nesvt-nav-margin">
                    <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                    <a class="nav-link dropdown-toggle title-links" href="faq.html" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FAQ</a>
                    <!--
          <div class="dropdown-menu" aria-labelledby="dropdown08">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        -->
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="faq.html#autocross101">What is Autocross?</a>
                        <a class="dropdown-item" href="faq.html#tech">Will I pass tech?</a>
                        <a class="dropdown-item" href="faq.html#location">Where do you race?</a>
                        <a class="dropdown-item" href="faq.html#join">How do I join?</a>
                        <a class="dropdown-item" href="faq.html#signup">How do I sign up??</a>
                    </div>

                </li>

                <li class="nav-item nesvt-nav-margin ">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="margin-left:40px;" href="contact.html">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    <main role="main">

        {#ViewData#}

    </main>

    <div class="alert-bottom alert alert-danger" id="helmetAlert" style="display: none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="neSvt.dismissHelmetNotification();">&times;</a>
        <strong>REMINDER</strong> -- All helmets must be Snell M2015 / SA2015 or newer.
    </div>

    <script>
        $(document).ready(function() {
            neSvt.setHelmetWindowState();
        });
    </script>


</body>

</html>