<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>NE-SVT</title>

    <!-- Bootstrap core CSS -->
    <link href="css\bootstrap.min.css" rel="stylesheet">
    <link href="css\global.css" rel="stylesheet">

  <style>
        body {
          background-color: #e9ecef;
        }

        .site-header{
          background-color: rgba(0, 0, 0, .85);
          color: #999;
        }

        .title-links {
          color: #999;
        }


        .jumbotron {
          background-image: url("images/BackGround.png");
          background-size: cover;
          height: 100%;
          max-height: 300px
        }
  </style></head>

  <body>

      <nav class="site-header sticky-top py-1">
          <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="\template4.html">
                <img src="images/logo_icon.jpg" width="25" height="25" alt="">
            </a>

            <a class="py-2 d-none d-md-inline-block title-links" href="#">Home</a>

            <a class="py-2 d-none d-md-inline-block title-links" href="#">Autocross Events</a>

            <a class="py-2 d-none d-md-inline-block title-links" href="#">Track Events</a>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle title-links" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FAQ</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">What is Autocross?</a>
                    <a class="dropdown-item" href="#">Will I pass tech?</a>
                    <a class="dropdown-item" href="#">Where do you race?</a>
                    <a class="dropdown-item" href="#">How do I join?</a>
                    <a class="dropdown-item" href="#">How do I sign up??</a>
                </div>
            </div>

            <a class="py-2 d-none d-md-inline-block title-links" href="#">Gallery</a>

            <a class="py-2 d-none d-md-inline-block title-links" href="#">Contact</a>
          </div>
        </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->

      
      <div class="jumbotron">
        <div class="container">
          <h3 class="display-4" style="color:white">Welcome to NE-SVT Autocross!</h1>
          <p></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
      </div>
    

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-8">
            <h2>News</h2>
            <p>News and stuff here </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>About</h2>
            <p>About us and stuff words</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    
<!--
    <footer class="container">
      <p>© NE-SVT 2018</p>
    </footer>
  -->
  <div class="alert-bottom alert alert-danger">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="" >&times;</a>
      <stron>REMINDER</strong> -- All helmets must be Snell M2010 / SA2010 or newer.
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js\jquery-3.3.1.slim.min.js"></script>
    <script src="js\popper.min.js"></script>
    <script src="js\bootstrap.bundle.min.js"></script>  
    <script src="js\global.js"></script>


</body></html>