body {
    padding-top: 2rem;
    background-color: #212322 !important;
    /* color: #fdf5e6 !important; */
}

.navbar {
    background-color: #050505 !important;
}

.card {
    word-wrap: break-word;
}

.border-darkmode {
    border-color: #fdf5e6 !important;
}


/* font scaling for the "show all" buttons on smaller screens */

@media (max-width: 576px) {
    button[class*="timesButton"] {
        font-size: medium;
        padding: 0%;
    }
    div[class="card w-100"] {
        font-size: 75%;
    }
}


/* fdf5e6 */