<div class="jumbotron">
    <div class="container">
        <h3 class="display-4" style="color:white">Welcome to NE-SVT Autocross!</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="faq.html" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">

    <div class="row">
            <div class="col-md-6">
                    
                    <ul class="event-list">
                        <li>
                            <time datetime="2019-04-20 0000">
                                <span class="day">3</span>
                                <span class="month">Apr</span>
                            </time>
                            <div class="info">
                                <h2 class="title">NE-SVT Autocross #1 - Sat, April 3, 2021</h2>
                                <!-- <p class="desc">Registration will open 30 days prior.</p> -->
                                <p class="desc">Registration open now!</p>
                                <ul>
                                    <!-- <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Event signup coming soon</a></li> -->
                                    <li style="width:50%;"><a href="https://www.motorsportreg.com/events/ne-svt-autocross-1-april-3rd-2021-devens-airfield-843798"><span class="fa fa-globe"></span> MotorsportReg Event Signup</a></li>
                                </ul>
                            </div>
                        </li>


                        <li>
                            <time datetime="2019-05-12 0000">
                                <span class="day">9</span>
                                <span class="month">May</span>
                            </time>
                            <div class="info">
                                <h2 class="title">NE-SVT Autocross #2 - Sun, May 9, 2021</h2>
                                <p class="desc">Registration will open 30 days prior.</p>
                                <ul>
                                    <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Event signup coming soon</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>

                    <p><a class="btn btn-primary" href="autocrossevents.html" style="width:100%" role="button">View More Events</a></p>
                </div>
        
                <div class="col-md-6">
                        <h3>About</h3>
                        <p class="lead">
                        NE-SVT is a non-profit club that was founded in 1998. We are run exclusively by volunteers with the goal of maximizing seat time and fun in a safe environment. 
                        </p>
                    </div>
    </div>
    <hr>
</div>