#clearfilternav {
  border: none;
  background-color: inherit;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  color: gold;
  cursor: pointer;
  display: inline-block;
}

#clearfilternav:focus {
  box-shadow: none;
}
