body {
    padding-top: 2rem;
}

/* font scaling for the "show all" buttons on smaller screens */
@media (max-width: 576px) {
    button[class*="timesButton"] {
        font-size: medium;
        padding: 0%;
    }
    div[class="card w-100"] {
        font-size: 75%;
    }
}
